/*
Safe People Registry API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package safepeopleregistrysdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ProjectUsersAPIService ProjectUsersAPI service
type ProjectUsersAPIService service

type ApiProjectUsersBulkInviteProjectUsersRequest struct {
	ctx context.Context
	ApiService *ProjectUsersAPIService
	projectUsersBulkInviteProjectUsersRequest *ProjectUsersBulkInviteProjectUsersRequest
}

func (r ApiProjectUsersBulkInviteProjectUsersRequest) ProjectUsersBulkInviteProjectUsersRequest(projectUsersBulkInviteProjectUsersRequest ProjectUsersBulkInviteProjectUsersRequest) ApiProjectUsersBulkInviteProjectUsersRequest {
	r.projectUsersBulkInviteProjectUsersRequest = &projectUsersBulkInviteProjectUsersRequest
	return r
}

func (r ApiProjectUsersBulkInviteProjectUsersRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProjectUsersBulkInviteProjectUsersExecute(r)
}

/*
ProjectUsersBulkInviteProjectUsers Bulk invite Project Users

Invite multiple users and attach them to a project

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProjectUsersBulkInviteProjectUsersRequest
*/
func (a *ProjectUsersAPIService) ProjectUsersBulkInviteProjectUsers(ctx context.Context) ApiProjectUsersBulkInviteProjectUsersRequest {
	return ApiProjectUsersBulkInviteProjectUsersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProjectUsersAPIService) ProjectUsersBulkInviteProjectUsersExecute(r ApiProjectUsersBulkInviteProjectUsersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectUsersAPIService.ProjectUsersBulkInviteProjectUsers")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/project_users/bulk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectUsersBulkInviteProjectUsersRequest == nil {
		return nil, reportError("projectUsersBulkInviteProjectUsersRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectUsersBulkInviteProjectUsersRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
